<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600&display=swap');
</style>

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>That's what happens</h2>
                    <p>In 1836, an officer returning from the Indian army, William Cooke, brought back to England a copy of the Schilling device which he had obtained in Germany at the University of Heidelberg.He teamed up with an academic, Charles Wheatstone
                        , to perfect and exploit this invention.On July 12, 1837, the two men demonstrated in the northern suburbs of London, on a two kilometer route, in front of representatives of the new London-Birmingham railway company.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-rss"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Reduce fraud and improve your ratesconversion</h5>
                        <p>The telecommunications sector presents a high risk of fraud and is at the same time subject to special legal requirements. IDnow meets current regulatory requirements as well as those resulting from the constant modernization of
                            telecommunications law. We support you with comprehensive KYC solutions and services for a fast, simple and, above all, secure onboarding process for your customers – all from a single source.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="feature-content">
                        <h5>TELECOMMUNICATIONS SECURITY</h5>
                        <p>Telecommunication can be defined as the transmission, emission or reception of information by any electromagnetic system. Telecommunications therefore allow rapid exchanges between people. These exchanges may relate to private
                            life data. Therefore, the security of telecommunications must be ensured. Telecommunications security will prevent intrusions into the exchange circuit and will protect the privacy of individuals.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-circle-o"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Future of telecommunications</h5>
                        <p>Satellite communications underpin virtually every aspect of our daily lives. One of the key areas of innovation is the integration of space assets into preparations for 5G, to facilitate the realization of the promised global connectivity.
                            5G will provide several new business opportunities in the “Internet of Things”, connectivity in transportation and logistics, automated media and broadcasting, and public safety and security.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-skype"></i>
                    </div>
                    <div class="feature-content">
                        <h5>National Institute of Telecommunications</h5>
                        <p>National Institute of Telecommunications ( INT ) is the former name of the Évry campus of the Institut Mines-Télécom common to the two Grandes Ecoles : Télécom SudParis , an engineering school , and Institut Mines-Télécom Business
                            School , a management school . This name no longer has any place since decree no. 2012-279 of theFebruary 28, 2012relating to the Institut Mines-Télécom (IMT).</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-steam"></i>
                    </div>
                    <div class="feature-content">
                        <h5>List of telecommunications/ICT regulatory authorities

                        </h5>
                        <p>The List of telecommunications regulatory authorities gives the official names and websites of the bodies responsible for regulating telecommunications (and more generally ICT) for most countries in the world. Each of these websites
                            presents information on the implementation of the regulations and on the characteristics of the use of ICT in the country concerned.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
            <!-- feaure box -->
            <div class="col-sm-6 col-lg-4">
                <div class="feature-box-1">
                    <div class="icon">
                        <i class="fa fa-venus-mars"></i>
                    </div>
                    <div class="feature-content">
                        <h5>Advanced Options</h5>
                        <p>This professional master's degree is intended for people wishing to complete or acquire training in telecommunications. The program essentially makes it possible to acquire knowledge and skills with a view to analyzing, modeling,
                            designing and developing circuits, subsystems and telecommunications systems for space or radio-mobile applications. The program allows the enrolled student to further specialize either in the analysis and design of telecommunications
                            systems or in the design of circuits and microwave subsystems for telecommunications transmitters.</p>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</section>