<div class="container">
    <h3>

        View Information</h3>
    <div><br>
        <table>
            <thead>
                <tr>
                    <td>
                        <label><b>First Name&nbsp;&nbsp;</b></label><br>{{employee.firstName}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>
                        <label><b>Last Name&nbsp;&nbsp;</b></label><br>{{employee.lastName}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;

                    <td>
                        <label><b>Email Id&nbsp;&nbsp;</b></label><br>{{employee.emailId}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>
                        <label><b>Telephone&nbsp;&nbsp;</b></label><br>{{employee.telephone}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>
                        <label><b>Address&nbsp;&nbsp;</b></label><br>{{employee.address}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>
                        <label><b>Department&nbsp;&nbsp;</b></label><br>{{employee.department}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;
                    <td>
                        <label><b>Gender&nbsp;&nbsp;</b></label><br>{{employee.gender}}
                    </td>&nbsp;&nbsp;&nbsp;&nbsp;

                    <td>
                        <label><b>Job Title&nbsp;&nbsp;</b></label><br>{{employee.jobTitle}}
                    </td>
                </tr>
            </thead>
        </table><br><br><br>

        <button routerLink="/user" routerLinkActive="active" class="nav-link" class="btn btn-primary">Return to </button>
    </div>
</div>