<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <!-- Heading -->
            <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                That's our programme about Network
            </h1>

            <!-- Text -->
            <strong>
            <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                Thank you for visiting The Employee Network! In 1998, The Employee Network became the very first managed employee discount program of its kind. Corporate employers, Government agencies and large groups of all kinds, offer their employees and associates
                the incredible benefits offered by being a member of The Employee Network. These Employee/Members enjoy huge savings on everything from Aquariums to Theme Parks and from Auto Dealers and Education to Home Services. Want an unfair advantage
                over your competitors? Want a great benefit to help you attract and keep the best employees? Call us today to learn more! We engage in marketing whereby we may receive advertising funds through this website or through the sale of goods
                or services on or through this website. We may also accept advertising and sponsorships from commercial businesses or receive other forms of advertising compensation. This disclosure is intended to comply with the US Federal Trade Commission
                Rules on marketing and advertising, as well as any other legal requirements which may apply.
            </p></strong>

        </div>
    </div>
    <!-- / .row -->
    <div class="row form-row align-items-center">
        <div class="col-3">

            <div class="img-square">
                <img src="https://tse1.mm.bing.net/th?id=OIP.yTG8rMowIg6nyNPdUuORIAHaEK&pid=Api&P=0" alt="..." class="img-cover">
            </div>

        </div>
        <div class="col-6">
            <div class="row form-row align-items-end mb-2">
                <div class="col-7">

                    <div class="img-square">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.27TuoTPEJKaZOU_zFbB2nQHaFj&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
                <div class="col-5">

                    <div class="img-square">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.XSiVf7DBEVXAH40NyXedsAHaFj&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
            </div>
            <!-- / .row -->
            <div class="row form-row">
                <div class="col-5">

                    <div class="img-square">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.QtD1P9Q4ZRWzl1N4cW1UQQHaFj&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
                <div class="col-7">

                    <div class="img-square">
                        <img src="https://tse1.mm.bing.net/th?id=OIP.WFOyvEAU76MpAU8aW8zy_AHaDF&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <div class="col-3">

            <div class="img-square">
                <img src="https://tse2.mm.bing.net/th?id=OIP.REA4xGsq1OE0EMAQ__PBWwHaDt&pid=Api&P=0" alt="..." class="img-cover">
            </div>

        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <!-- Heading -->




        </div>
    </div>
    <!-- / .row -->
    <div class="row form-row align-items-center">
        <div class="col-3">

            <div class="img-square">
                <img src="https://tse4.mm.bing.net/th?id=OIP.5TSEoteB5yBKrakpN9bERQHaE8&pid=Api&P=0" alt="..." class="img-cover">
            </div>

        </div>
        <div class="col-6">
            <div class="row form-row align-items-end mb-2">
                <div class="col-7">

                    <div class="img-square">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.xN8qPSGmqZIG2nO33jNlWgHaE8&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
                <div class="col-5">

                    <div class="img-square">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.jwzVsg8iYrRayTZcenVxoQHaFt&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
            </div>
            <!-- / .row -->
            <div class="row form-row">
                <div class="col-5">

                    <div class="img-square">
                        <img src="https://tse4.mm.bing.net/th?id=OIP.C97dKds0o95mo4BxwvjVXAHaEK&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
                <div class="col-7">

                    <div class="img-square">
                        <img src="https://tse2.explicit.bing.net/th?id=OIP.CyeyzPhtAMuImNwwOpwhvAHaEY&pid=Api&P=0" alt="..." class="img-cover">
                    </div>

                </div>
            </div>
            <!-- / .row -->
        </div>
        <div class="col-3">

            <div class="img-square">
                <img src="https://tse2.mm.bing.net/th?id=OIP.Dk0Dgr8N4ULB5-f86f72QgHaEK&pid=Api&P=0" alt="..." class="img-cover">
            </div>

        </div>
    </div>
    <!-- / .row -->
</div>