<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>Telecommunication Network</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            In less than a century, the means of telecommunication have greatly diversified. Depending on the type of information transmitted, one can distinguish between sound (telephone, sound broadcasting), image (videography), sound and image (television), text
                            (telegraph, telex, fax, teletext), computer data(telecomputing), etc. According to the mode of provision of the users, one can distinguish the means of telecommunication always functioning in one direction, from a transmitter
                            towards a receiver (broadcasting, television, paging…), and those which make it possible to establish a dialogue between two people or two groups (telephone) or between, on one side, a person or a group and, on the other, a
                            machine offering a battery of services (videotex). echnology continues to reshape businesses and even the way we communicate with our peers on a daily basis. Hollywood has long had a fascination in predicting a future world
                            where humans are controlled by our technological advancements. While the storylines of robots and teleportation have not yet come to pass,
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Transmission, émission ou réception d'informations par fil, radioélectricité, optique, ou d'autres systèmes électromagnétiques.</p>

                        <a routerLink="/see-more" routerLinkActive="active" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <figure class="potoaboutwrap">
                    <img src="https://tse2.mm.bing.net/th?id=OIP.8H3K028HhwUzUwrZ7lXJtQHaEK&pid=Api&P=0" alt="potoabout" />
                </figure>
            </div>
        </div>
    </div>
</section>