<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<div class="events_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3 text-white">Welcome to</h2><br><br><br>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.t-Jo5KCrawZg8qNw6nRojQHaE8&pid=Api&P=0" alt="" />
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>27</span> December</div>
                            <div class="time-location">
                                <p><span class="ti-time mr-2"></span> 15:00 AM - 7:00 AM</p>
                                <p><span class="ti-location-pin mr-2"></span>Dakar Senegal</p>
                            </div>
                        </div>
                        <p>
                            A company profile describes what makes your company unique. Your history and values are integral parts of your brand positioning strategy.
                        </p>
                        <a routerLink="/about" routerLinkActive="active" class="btn btn-primary rounded-0 mt-3">About Company</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="https://tse3.mm.bing.net/th?id=OIP.vVlyd0TDfYGbwVWPYjCdrwAAAA&pid=Api&P=0" alt="" />
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>1</span> Mars</div>
                            <div class="time-location">
                                <p><span class="ti-time mr-2"></span> 10:00 PM - 18:30 AM</p>
                                <p><span class="ti-location-pin mr-2"></span>Dakar Senegal</p>
                            </div>
                        </div>
                        <p>
                            The secret to having a great team is being a great leader. So what does it take to develop the perspective.
                        </p>
                        <a routerLink="/documentation" routerLinkActive="active" class="btn btn-primary rounded-0 mt-3">About Work</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.1NhEGFjoNqfLyjE6TPhiVwHaCt&pid=Api&P=0" alt="" />
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>15</span> Juillet</div>
                            <div class="time-location">
                                <p><span class="ti-time mr-2"></span> 7:00 PM - 15:30 AM</p>
                                <p><span class="ti-location-pin mr-2"></span>Dakar Senegal</p>
                            </div>
                        </div>
                        <p>
                            An employee network, also known as an employee resource group or affinity group, can be a great way for companies to support their employees and help create a diverse and inclusive workplace culture.
                        </p>
                        <a routerLink="/documentations" routerLinkActive="active" class="btn btn-primary rounded-0 mt-3">Network</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_event position-relative">
                    <div class="event_thumb">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.l4yLytRhW0GSsBrwmUkBjgHaE8&pid=Api&P=0" alt="" />
                    </div>
                    <div class="event_details">
                        <div class="d-flex mb-4">
                            <div class="date"><span>23</span>Aout</div>
                            <div class="time-location">
                                <p><span class="ti-time mr-2"></span> 8:00 PM - 12:30 AM</p>
                                <p><span class="ti-location-pin mr-2"></span>Dakar Senegal</p>
                            </div>
                        </div>
                        <p>
                            One make creepeth man for so bearing their firmament won't fowl meat over seas great
                        </p>
                        <a routerLink="/document" routerLinkActive="active" class="btn btn-primary rounded-0 mt-3">About Communication</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</div>